<div class="form-group">
    <label for="projectName" class="col-sm-2 control-label">Project Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.projectName" class="form-control" id="projectName" placeholder="Project Name"/>
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Contract Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.name" class="form-control" id="name" placeholder="Contract Name"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.description" class="form-control" id="description" placeholder="Contract Description"/>
    </div>
</div>
<div class="form-group">
    <label for="code" class="col-sm-2 control-label">Contract Code</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.code" class="form-control" id="code" placeholder="Contract Code"/>
    </div>
</div>
<div class="form-group">
    <label for="budget" class="col-sm-2 control-label">Budget($)</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.budget" class="form-control" id="budget" placeholder="Contract Budget"/>
    </div>
</div>
<div class="form-group">
    <label for="committedCost" class="col-sm-2 control-label">Committed Cost($)</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.commitedCost" class="form-control" id="committedCost" placeholder="Committed Cost"/>
    </div>
</div>
<div class="form-group">
    <label for="forecast" class="col-sm-2 control-label">Forecast($)</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.forecast" class="form-control" id="forecast" placeholder="Forecast"/>
    </div>
</div>
<div class="form-group">
    <label for="paid" class="col-sm-2 control-label">Paid($)</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.paid" class="form-control" id="paid" placeholder="Paid"/>
    </div>
</div>

<div class="form-group">
    <label for="completePercentage" class="col-sm-2 control-label">Completed Percentage(%)</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.completePercentage" class="form-control" id="completePercentage" placeholder="Completed Percentage"/>
    </div>
</div>

<div class="form-group">
    <label for="vendor" class="col-sm-2 control-label">Vendor</label>
    <div class="col-sm-10">
        <input type="text" ng-model="contract.vendor" class="form-control" id="vendor" placeholder="Vendor"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
<div class="alert alert-danger fade in" ng-show="errorMessage">

    <strong>Danger!</strong> {{errorMessage}}.
</div>
